# Ignore Python cache
__pycache__/
*.py[cod]
*$py.class

# Ignore datasets and large data directories
dataset/
data/

# Ignore outputs, logs, and trained models
models/
results/
*.log

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Streamlit
.streamlit/

# Large files and test artifacts
*.zip
test_dummy.jpg
